{{> mainmenu _id="home" }}

<div class="ui container">
  <section class="ui raised segment">
    <div class="ui grid">
      <aside class="six wide column">
        <header class="ui header">Add Island</header>
        {{> addpoint }}
      </aside>
      <article class="ten wide column">
        <header class="ui header">Explore Islands of Ireland</header>
        {{> pointlist }}
      </article>
    </div>
  </section>
</div>


